
/* НАЧАЛО ЛОГОТИП HLTV */
.hltv {
    position: fixed;
    top: 0.65vw;
    left: 1.65vw;
    display: flex;
    align-items: center;
    gap: 0.286vw;
    z-index: 1001;
}
.hltv-img {
    width: 4.58vw;
    height: auto;
    display: block;
}
.hltv span {
    font-family: inherit;
    font-size: 4.58vw;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    transform: translateY(-0.23vw);
}
/* КОНЕЦ ЛОГОТИП HLTV */





/* НАЧАЛО ПЕРВЫЙ ПАРАГРАФ – ИГРОКИ */
.roster {
    text-align: center;
    margin-top: 1.6vw;
    margin-bottom: 1.04vw;
}
.players {
    display: flex;
    justify-content: center;
    gap: 1.08vw;
    margin-top: 0.78vw;
    flex-wrap: wrap;
}

.players-line{
    width: calc(100%-2vw);
    max-width: 48.67vw;
    height: 0.25vw;
    background-color: #093f4274;
    margin: 0.6vw auto 0 auto;
}


.player-card {
    text-align: center;
    width: 7.925vw;
}
.avatar {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 5%;
    transition: transform 0.2s;
}
.avatar:hover {
    transform: scale(1.08);
}
.nickname {
    margin-top: 0.067vw;
    font-weight: bold;
    font-size: 0.9 vw;
}
/* КОНЕЦ ПЕРВЫЙ ПАРАГРАФ */






/* НАЧАЛО ВТОРОЙ ПАРАГРАФ – DOCTORS */
.team-doctors {
    display: flex;
    gap: 0.72vw;
    margin-top: 0vh;
    margin-bottom: 1.04vw;
    margin-left: 5.88vw;
    max-width: calc(100% - 10.42vw);
}
.team-logo {
    width: 4.6vw;
    height: auto;
    max-height: 4.6vw;
}
.team-name {
    font-size: 1.87vw;
    font-weight: 900;
    letter-spacing: 0.104vw;
    transform: translateY(-0.50vw);
}

.russia {
    display: flex;
    gap: 0.5vw;
}

.russia-text {
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing: 0.05vw;
    transform: translateY(0.03vw);
}

.flag-img {
    width: 1.9vw;
    height: auto;
    max-height: 1.5vw;
    display: inline-block;
    transform: translateY(0.18vw);
}
/* КОНЕЦ ВТОРОЙ ПАРАГРАФ */





/* НАЧАЛО ТРЕТИЙ ПАРАГРАФ – DOCTORS */
.player-age {
    display: block; 
    margin-top: -1.0vw; 
    margin-left: 5.88vw;
    font-size: 1vw;
}

.coach {
    display: block; 
    margin-top: 1.0vw; 
    margin-left: 5.88vw;
    font-size: 1vw;
}
/* КОНЕЦ ТРЕТИЙ ПАРАГРАФ – DOCTORS */





/* ЗАПРЕТ ГОРИЗОНТАЛЬНОЙ ПРОКРУТКИ */
html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}


/* НАЧАЛО ПЛАШКИ */

.tabs {
    flex-wrap: wrap;
    display: flex;
    margin-top: 0.5vw;
    margin-left: 5.88vw;
    gap: 0vw;
}

.tab-btn {
    position: relative; 
    background-color: #77828e;
    border: none;
    padding: 0.57vw 1.3vw;
    font-size: 1.039vw;
    cursor: pointer;
    transition: 0.2s;   
}

.tab-btn.active {
    filter: brightness(1.667); 
}

.tab-btn:hover {
    filter: brightness(1.267); 
    
}

.tab-btn:not(:last-child)::after {
    content: "";                
    position: absolute;        
    right: 0;                   
    top: 0%;                   
    height: 100%;                
    width: 0.0267vw;                
    background-color: white;   
    opacity: 0.7;               
}

/* Карточка — только фон, тень и рамка, без сдвига содержимого */
.card {
    background-color: #2d3246;   
    margin-left: 20.48vw;           
    max-width: 70vw;  
    width: 66.7vw;                
    margin-top: 3.67vh;                   
    margin-bottom: 2vh;                
    padding-bottom: 1vh; 
    padding-top: 2.67vh;  
}

.card-roster {
    margin-top: 9.67vh;  
}

/* Все блоки контента по умолчанию скрыты */
.tab-content {
    display: none;
}

/* Только активный блок показываем */
.tab-content.active {
    display: block;
}

#events {
    width: 100%;
    box-sizing: border-box;
}

.event-item {
    display: flex;
    background-color: rgba(0, 0, 0, 0.08);
    margin-left: 5vw;
    margin-top: 2.67vh;
    margin-bottom: 1.67vh;
    width: 67%;
    border-radius: 1vw;
    padding: 1.1vw 1.1vw;
    box-sizing: border-box;
}

.tourney1 {
    margin-top: 3.97vh;
}


.event-logo {
    width: 5vw;
    height: auto;
    max-height: 5vw;
}

.event-details {
    margin-left: 1.25vw;
    display: flex;
    flex-direction: column;  /* текст в колонку: название -> дата */
    justify-content: center;
    gap: 1.67vh;
}

.event-name {
    font-size: 1.2vw;
    font-weight: bold;
}

.event-date {
    font-size: 0.9vw;
    opacity: 0.8;
}





