.theme-toggle {
    position: fixed;
    top: 1.587vw;
    right: 1.587vw;
    z-index: 1000;
}
.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.slider {
    display: block;
    width: 5.2vw;
    height: 2.07vw;
    background-color: #4d7ec8;
    border-radius: 2.07vw;
    cursor: pointer;
    position: relative;
    transition: background-color 0.7s;
}
.slider::before {
    content: "";
    position: absolute;
    width: 1.6215vw;
    height: 1.6215vw;
    left: 0.224vw;
    bottom: 0.224vw;
    background-color: white;
    border-radius: 50%;
    transition: 1.5s;
}
.theme-toggle input:checked + .slider::before {
    transform: translateX(3.129vw);
}
.slider i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.897vw;
    transition: opacity 1.0s ease;
}
.slider .fa-moon {
    left: 0.53475vw;
    color: #eeeeee;
    opacity: 0;
}
.slider .fa-sun {
    right: 0.53475vw;
    color: #f39c12;
    opacity: 1;
}
.theme-toggle input:checked + .slider {
    background-color: #00030e;
}
.theme-toggle input:checked + .slider .fa-moon {
    opacity: 1;
}
.theme-toggle input:checked + .slider .fa-sun {
    opacity: 0;
}

body.dark {
    background-color: #1a1d2b;
    color: #cbd5e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.7s, color 0.7s;
}
body.light {
    background-color: #8ecafb;
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.7s, color 0.7s;
}
.content {
    text-align: center;
    margin: 1.56vw;
}
/* КОНЕЦ ПЕРЕКЛЮЧАТЕЛЬ ТЕМЫ */





/* НАЧАЛО ЛОГОТИП HLTV */
.hltv {
    position: fixed;
    top: 0.65vw;
    left: 1.65vw;
    display: flex;
    align-items: center;
    gap: 0.286vw;
    z-index: 1001;
}
.hltv-img {
    width: 4.58vw;
    height: auto;
    display: block;
}
.hltv span {
    font-family: inherit;
    font-size: 4.58vw;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    transform: translateY(-0.23vw);
}
/* КОНЕЦ ЛОГОТИП HLTV */





/* НАЧАЛО ПЕРВЫЙ ПАРАГРАФ – ИГРОКИ */
.roster {
    text-align: center;
    margin-top: 5.6vw;
    margin-bottom: 1.04vw;
}
.players {
    display: flex;
    justify-content: center;
    gap: 1.08vw;
    margin-top: 0.78vw;
    flex-wrap: wrap;
}

.players-line{
    width: calc(100%-2vw);
    max-width: 48.67vw;
    height: 0.25vw;
    background-color: #093f4274;

    margin: 0.6vw auto 0 auto;
}


.player-card {
    text-align: center;
    width: 7.925vw;
}
.avatar {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 5%;
    transition: transform 0.2s;
    object-fit: cover;
}
.avatar:hover {
    transform: scale(1.066);
}
.nickname {
    margin-top: 0.052vw;
    font-weight: bold;
    font-size: 0.9 vw;
}
/* КОНЕЦ ПЕРВЫЙ ПАРАГРАФ */



/* НАЧАЛО ВТОРОЙ ПАРАГРАФ – DOCTORS */
.team-doctors {
    display: flex;
    gap: 0.72vw;
    margin-top: 5vh;
    margin-bottom: 1.04vw;
    margin-left: 25.88vw;
    max-width: calc(100% - 10.42vw);
}
.team-logo {
    width: 4.6vw;
    height: auto;
    max-height: 4.6vw;
}
.team-name {
    font-size: 1.87vw;
    font-weight: 900;
    letter-spacing: 0.104vw;
    transform: translateY(-0.50vw);
}

.russia {
    display: flex;
    gap: 0.5vw;
}

.russia-text {
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing: 0.05vw;
    transform: translateY(0.03vw);
}

.flag-img {
    width: 1.9vw;
    height: auto;
    max-height: 1.5vw;
    display: inline-block;
    transform: translateY(0.18vw);
}
/* КОНЕЦ ВТОРОЙ ПАРАГРАФ */


/* НАЧАЛО ТРЕТИЙ ПАРАГРАФ – DOCTORS */
.player-age {
    display: block; 
    margin-top: -1.0vw; 
    margin-left: 25.88vw;
    font-size: 1vw;
}
/* КОНЕЦ ТРЕТИЙ ПАРАГРАФ – DOCTORS */





/* ЗАПРЕТ ГОРИЗОНТАЛЬНОЙ ПРОКРУТКИ */
html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}